<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Page d'accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  scroll-y="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <div>
      <ion-img src="assets/cropped-en-tete-2.png" alt="Logo du GLC Baudour" class="home-logo" />
      <p style="text-align:center">
        Une place pour chacun, chacun à sa place
      </p>
    </div>
    <div>
      <!-- Affichage des actus dynamiques -->
      <ion-card button *ngFor="let actu of actuList">
        <ion-card-content>
          <ion-img
            [src]="actu.image"
            [alt]="actu.name || 'Aperçu de la section'"
          ></ion-img>
        </ion-card-content>
      </ion-card>

      <!-- Optionnel : gestion de l’erreur ou du chargement -->
      <div *ngIf="isLoading" class="loading-text">
        Chargement des actualités...
      </div>
      <div *ngIf="error" class="error-text">
        {{ error }}
      </div>
    </div>
  </div>
</ion-content>
