<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="logAndToggle($event)"></ion-menu-button>
    </ion-buttons>
    <ion-title>Le GLC Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="glcmedia-page">
  <div class="media-container">

    <div class="media-intro">
      Retrouvez ici les dernières vidéos publiées sur la chaîne YouTube du
      GLC Baudour.
    </div>

    <!-- État de chargement -->
    <div *ngIf="isLoading" class="media-state">
      Chargement des vidéos…
    </div>

    <!-- Erreur -->
    <div *ngIf="!isLoading && error" class="media-state error">
      {{ error }}
    </div>

    <!-- Liste des vidéos -->
    <div *ngIf="!isLoading && !error" class="video-list">
      <ion-card
        class="video-card"
        *ngFor="let video of videos"
        button
        [href]="video.link"
        target="_blank"
      >
        <ion-img
          class="video-thumbnail"
          [src]="video.thumbnailUrl"
          [alt]="video.title"
        ></ion-img>

        <ion-card-content>
  <div class="video-hea_der">
    <h2 class="video-title">{{ video.title }}</h2>
    <p class="video-date w-100">
      {{ video.publishedAt | date: 'longDate' }}
    </p>
  </div>
</ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>
