<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="logAndToggle($event)"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ce que nous croyons</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="home-page">
  <div class="home-container">
    <div class="home-shortcuts">
      <ion-card button>
        <ion-card-content>
          <ion-img src="assets/bible.jpg" alt="Photo de Bible" class="home-logo" />
        </ion-card-content>
      </ion-card>

      <ion-card button>
        <ion-card-content>  
          <div>
            Nous croyons…<br>
            <br>
            Que la Bible est la Parole de Dieu, inspirée de son Esprit et totalement digne de confiance, elle est l’autorité suprême en matière de foi et de conduite,<br>
            Que Dieu est Un, il est le Créateur du ciel et de la terre, existant en trois personnes, Père, Fils et Saint-Esprit,<br>
            Que Jésus-Christ est le Seigneur, parfaitement Dieu et parfaitement Homme sans péché, qu’Il a vécu une vie de puissance manifestée à travers ses miracles, qu’Il est mort et ressuscité pour nous sauver, et qu’Il est retourné auprès du Père d’où Il reviendra en puissance et dans la gloire pour enlever son Eglise,<br>
            Que l’homme a besoin d’être réconcilié avec Dieu par l’intermédiaire de Jésus-Christ et qu’il doit naitre de nouveau pour être sauvé et connaitre la vie éternelle,<br>
            Que le Saint-Esprit habite le croyant et qu’Il désire le remplir et le revêtir de puissance afin de lui permettre de vivre une vie sainte, de témoigner et d’œuvrer pour le Seigneur Jésus-Christ en manifestant les dons spirituels,<br>
            Que l’Eglise est le rassemblement des fidèles nés-de nouveau et qu’elle est appelée à proclamer en paroles et en actes l’amour de Dieu dans le monde,<br>
            Que la résurrection est réservée tant aux sauvés qu’aux perdus; les perdus ressusciteront pour la condamnation, les sauvés ressusciteront pour la vie.
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>