<ion-tabs>
<ion-router-outlet></ion-router-outlet>


<ion-tab-bar slot="bottom">
<ion-tab-button tab="accueil" href="/tabs/accueil">
<ion-icon name="home-outline"></ion-icon>
<ion-label>Accueil</ion-label>
</ion-tab-button>


<ion-tab-button tab="agenda" href="/tabs/agenda">
<ion-icon name="calendar-outline"></ion-icon>
<ion-label>Agenda</ion-label>
</ion-tab-button>


<ion-tab-button tab="a-venir" href="/tabs/a-venir">
<ion-icon name="time-outline"></ion-icon>
<ion-label>À venir</ion-label>
</ion-tab-button>


<ion-tab-button tab="nous-rejoindre" href="/tabs/nous-rejoindre">
<ion-icon name="people-outline"></ion-icon>
<ion-label>Nous rejoindre</ion-label>
</ion-tab-button>
</ion-tab-bar>
</ion-tabs>